<!DOCTYPE html>
<html>
<head>

</head>

<body>
  <p style="background-color: #dedede">Witaj w najlepszym sklepie internetowym napisanym w railsach!</p>
  <%=image_tag("album_covers.png", alt: "Album Covers", height: '375', width: '600')%>
</body>
</html>  